<p> Your Balance : <%= @customer.wallet - @total_amount %></p>
<p> Remainig preference budget : <%= @customer.budget - @total_amount  %></p>


<table>
  <thead>
  <tr>
    <th>Transaction date </th>
    <th>Merchant</th>
    <th>Category</th>

    <th>Amount</th>
  </tr>
    </thead>
    <tbody>

  <%@transactions.each do |transaction|%>
  <tr>
    <td><%= transaction.transaction_date%></td>
    <td> <%= transaction.merchant_name %></td>
    <td> <%= transaction.category_name %></td>
    <td><%= transaction.amount %></td>
    <td><button type="button" name="merchant_name"><a href="/spending_tracker/merchant/<%= transaction.merchant_name%>">more details </a></button></td>
    <td><button type="button" name="button"><a href="/spending_tracker/category/<%= transaction.id%>/edit" >update category</a></button></td>
    <td>
      <form  method="post" action="/spending_tracker/transaction/<%= transaction.id%>" >
      <input type="submit" value="delete transaction"/>
      </form>
    </td>
    </tr>
    </tbody>
  <% end %>

    <tr>
      <th id="total" colspan="2"></th>
      <td><h3>Total</h3></td>
      <td><%= @total_amount %></td>
    </tr>
</table>
