
<table>
  <thead>
    <tr>
      <th><h3>Transaction date </h3></th>
      <th><h3>Merchant</h3></th>
      <th><h3>Category</h3></th>
      <th><h3>Amount</h3></th>
    </tr>
  </thead>
  <tbody>

    <%@transactions.each do |transaction|%>
    <tr>
      <td><%= transaction.transaction_date%></td>
      <td> <%= transaction.merchant_name %></td>
      <td> <%= transaction.category_name %></td>
      <td><%= transaction.amount %></td>
    </tr>
  </tbody>
    <% end %>
    <tr>
      <th id="total" colspan="2"></th>
      <td><h3>Total</h3></td>
      <td><h3><%= @total_amount %></h3></td>
    </tr>
</table>
